In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df_lvl1 = pd.read_csv('level_1.csv')

In [3]:
df_lvl1.head()

               Unnamed: 0    count
0                     EPG  1746039
1          Одежда и обувь   399531
2  Книги и цифровые книги   106999

In [5]:
df_lvl2 = pd.read_csv('level_2.csv')

In [6]:
df_lvl2.head()

                Unnamed: 0   count
0                Дом и сад  214851
1                   Одежда  200703
2                    Обувь  198828
3   Строительство и ремонт  198109
4               Автотовары  182467

In [8]:
df_attr = pd.read_parquet('attributes.parquet')
df_attr.head()

,variantid,categories,characteristic_attributes_mapping
0,47920382,"{""1"": ""EPG"", ""2"": ""Детские товары"", ""3"": ""Игру...","{""Цвет товара"": [""бежевый"", ""светло-розовый""],..."
1,49801845,"{""1"": ""EPG"", ""2"": ""Хобби и творчество"", ""3"": ""...","{""Количество в упаковке, шт"": [""1""], ""Бренд"": ..."
2,49853444,"{""1"": ""EPG"", ""2"": ""Хобби и творчество"", ""3"": ""...","{""Бренд"": [""Vervaco""], ""Тип"": [""Набор для выши..."
3,49893028,"{""1"": ""EPG"", ""2"": ""Хобби и творчество"", ""3"": ""...","{""Цвет товара"": [""серый""], ""Ширина, см"": [""0.8..."
4,49987483,"{""1"": ""EPG"", ""2"": ""Хобби и творчество"", ""3"": ""...","{""Цвет товара"": [""разноцветный""], ""Название цв..."

In [10]:
df_attr.shape

(2252569, 3)

In [11]:
df_attr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2252569 entries, 0 to 2252568
Data columns (total 3 columns):
 #   Column                             Dtype
---  ------                             -----
 0   variantid                          int64
 1   categories                         object
 2   characteristic_attributes_mapping  object
dtypes: int64(1), object(2)
memory usage: 51.6+ MB

In [15]:
import json

In [17]:
df_attr['categories'] = df_attr['categories'].apply(json.loads)

In [18]:
df_attr['categories'].apply(len).max()

4

In [19]:
df_attr['categories'].apply(len).min()

4

In [22]:
df_attr['cat_1'] = df_attr['categories'].apply(lambda x: x["1"])
df_attr['cat_2'] = df_attr['categories'].apply(lambda x: x["2"])
df_attr['cat_3'] = df_attr['categories'].apply(lambda x: x["3"])
df_attr['cat_4'] = df_attr['categories'].apply(lambda x: x["4"])

In [23]:
df_attr.head()

,variantid,categories,characteristic_attributes_mapping,cat_1,cat_2,cat_3,cat_4
0,47920382,"{'1': 'EPG', '2': 'Детские товары', '3': 'Игру...","{""Цвет товара"": [""бежевый"", ""светло-розовый""],...",EPG,Детские товары,Игрушки,Игрушка для ванной
1,49801845,"{'1': 'EPG', '2': 'Хобби и творчество', '3': '...","{""Количество в упаковке, шт"": [""1""], ""Бренд"": ...",EPG,Хобби и творчество,Материал для рукоделия,"Стеклярус, бусины, стразы"
2,49853444,"{'1': 'EPG', '2': 'Хобби и творчество', '3': '...","{""Бренд"": [""Vervaco""], ""Тип"": [""Набор для выши...",EPG,Хобби и творчество,"Набор для рукоделия, творчества",Набор для вышивания
3,49893028,"{'1': 'EPG', '2': 'Хобби и творчество', '3': '...","{""Цвет товара"": [""серый""], ""Ширина, см"": [""0.8...",EPG,Хобби и творчество,"Нитки, пряжа","Тесьма, кружево, лента, резинка"
4,49987483,"{'1': 'EPG', '2': 'Хобби и творчество', '3': '...","{""Цвет товара"": [""разноцветный""], ""Название цв...",EPG,Хобби и творчество,Настольные и карточные игры,Настольная игра

In [24]:
df_attr['characteristic_attributes_mapping'] = df_attr['characteristic_attributes_mapping'].apply(json.loads)

In [26]:
df_attr['color'] = df_attr['characteristic_attributes_mapping'].apply(lambda x: x["Цвет товара"] if "Цвет товара" in x else None)

In [27]:
df_attr['color'].value_counts()

color
[черный]                                                                      234702
[белый]                                                                       175803
[разноцветный]                                                                105328
[серый]                                                                        61015
[бежевый]                                                                      52624
                                                                               ...
[коричнево-красный, малиновый, темно-бежевый, темно-серый, черный матовый]         1
[белый, зеленый, коричневый, оливковый, черный]                                    1
[зеленый, золотой, прозрачный, розовый]                                            1
[коричнево-красный, серый, темно-бордовый]                                         1
[горчичный, салатовый, синий, темно-зеленый, фиолетовый]                           1
Name: count, Length: 12957, dtype: int64